.button{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
    border-radius: 10px;
}

.button.blue{
    background-color: #bdbd00;
}

button.green{
    background-color: #13CE66;
}

button.red{
    background-color: #FF4949;
}

.button:hover{
    box-shadow: inset 200px 0 0 #00000055;
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: #3498db; /* Cor do polegar da barra de rolagem */
    border-radius: 6px; /* Borda do polegar da barra de rolagem */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor da trilha da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #; /* Cor do polegar da barra de rolagem ao passar o mouse sobre ele */
}
@media(max-width:480px){
    .button.mobile{
        color:transparent;
        font-size:0;
        width:50px;
        height:50px;
        border-radius: 50%;
        position:fixed;
        top: 90vh;
        left: 80vw;
    }
    .button.mobile::before{
        content: "+";
        color:black;
        font-size:2rem;
        width:100%;
        height:100%;
    }
}