body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    color: #555;
  }
  
  input,
  select,
  button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .search-container {
    margin-top: 20px;
  }
  
  #registrosContainer {
    margin-top: 20px;
  }
  
  .registro-item {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .registro-item p {
    margin: 5px 0;
  }
  
  .registro-item button {
    margin-top: 10px;
    background-color: #e74c3c;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .registro-item button:hover {
    background-color: #c0392b;
  }
  